@using System.Web.Optimization
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>HPB sample</title>
</head>
<body>
    <div>
    </div>
    @Scripts.Render("~/Libs")
</body>
</html>
